body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 30px;
    background: lightblue;
    font-size: 15px;
    min-width: 50px;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-prefix {
    padding: 15px 20px;
    color: lightcoral;
}

.choice-text {
    padding: 15px;
    width: 100px;
}

.correct {
    background: green;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 100px;
    }
}